* { margin: 0; padding: 0; }

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/*NAVIGATION*/
li, a, button {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  margin-bottom: 20px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 0px 10px #686868;
  z-index: 10;
}

.title {
  text-decoration: underline;
  color: #2d3748;
}

.nav-links {
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
  font-family: "Bayon", sans-serif;
  font-size: 23px;  
  text-decoration: none;
  color: #4a8d67;
}

.active a {
  text-decoration: underline!important;
}

.active a:hover {
  color: #9bc542!important;
}

.nav-links li a:hover{
  color: #9bc542;
}
/*container*/
  .container {
    margin: 5px;
    display: flex;
  }

/*columns*/
  .two-firstColumn {
    width: 50%;
    margin-left: 150px;
  }
  .two-secondColumn {
    width: 50%;
    margin-right: 150px;
  }
  .one-column {
    margin-right: 155px;
    margin-left: 155px;
    display: flex;
    justify-content: space-between;
  }

  section {
    margin: 0;
  }
  
  #projects {
    margin: 0px;
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 0px;
    padding-bottom: 100px;
    padding-top: 50px;
    background-color: #f3f3f3;
    z-index: 2;
  }

  #about {
    margin: 0px;
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 0px;
    padding-bottom: 100px;
    padding-top: 50px;
    background-color: #f3f3f3;
    z-index: 2;
  }

  .card {
    flex: 1;
    background-color: #ffffff;
    padding: 0px;
    margin: 20px;
    box-sizing: border-box;
    width: 30%;
    box-shadow: 2px 2px 10px #686868;
    z-index: 2;
    transition: transform 0.2s ease-in-out; /* Smooth transition */
  }

  .card:hover{
    transform: scale(1.07); /* Grow by 8% */
  }

  .blank-card {
    flex: 1;
    padding: 0px;
    margin: 20px;
    box-sizing: border-box;
    width: 30%;
    z-index: 2;
  }

  footer {
    background-color: #2d3748;
    margin: 0;
    overflow: hidden;
    color: #4a8d67;
    padding-bottom: 30px;
  }

/*images*/
  .large-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
  }

  #top {
    opacity: 0;
    z-index: 1;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    width: 45%;
    top: -1px;
  }

  .bubble {
    margin-bottom: 20px;
    width: 50%;
    margin-right: 150px;    
  }

  #top:hover {
    opacity: 1;
  }

  #bottom {
    opacity: 1;
    z-index: 0;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    width: 45%;
    top: -1px;
  }

  #bottom:hover {
    opacity: 0;
  }

  .thumbnail {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -10px;
    padding: 0%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  #hellotext {
    display: flex;
    justify-content: left;
    max-width: 65%;
    margin-top: 130px;
  }
  
  #bubble {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -160px;
    margin-top: -60px;
    z-index: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  #intro {
    margin: 20px;
    margin-bottom: 35px;
    font-family: sans-serif;
    font-size: 18px;
  }

/*Text*/

#about-header {
  margin-right: 155px;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-family: "Bayon", sans-serif;
  font-size: 36px;
  color: #2d3748;
  border-bottom: 3px solid #4a8d67;
  width: 200px;
}

h1, h3, h4 {
  margin: 15px;
  font-family: "Bayon", sans-serif;
}

h2 {
  margin-right: 155px;
  margin-left: 175px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-family: "Bayon", sans-serif;
  font-size: 36px;
  color: #2d3748;
  border-bottom: 3px solid #4a8d67;
  width: 200px;
}

h3 {
  margin-left: 20px;
  padding: 0px;
  margin-bottom: 0px;
  font-family: "Bayon", sans-serif;
  font-size: 26px;
  color: #2d3748;

}

h4 {
  font-family: "Raleway", sans-serif;
  padding: 0px;
  margin-left: 20px;
  margin-top: 0px;
  color: #485874;
}

p {
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 25px;
}

a {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
}

footer a {
  color: #4a8d67;
}

footer a:hover {
  color: #9bc542; 
}

#footer-header {
  color: #4a8d67;
  margin-bottom: 20px;
}

.btn {
  margin: 15px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  font-family: "Bayon", sans-serif;
  border-style: solid;
  border-color: #4a8d67;
  text-decoration: none;
  color: #4a8d67; 
}

.btn:hover {
  color: #9bc542; 
  border-color: #9bc542;
}








.hidden {
    display: none;
}

button {
  margin: 15px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 60px;
  border-width: 3px;
  font-family: "Bayon", sans-serif;
  font-size: 19px;
  border-style: solid;
  border-color: #4a8d67;
  text-decoration: none;
  color: #4a8d67; 
}

button:hover {
  color: #9bc542; 
  border-color: #9bc542;
}
